{% extends 'base.html.twig' %}

{% block title %}Détail du service{% endblock %}

{% block body %}
    <h1>Bonjour {{ name }} !</h1>
    <p>Voici la page de ton service personnalisé.</p>
{% endblock %}
